/* desktop-adapt */
@media(max-width: 1920px) {
    body {
        zoom: 90%;
        -moz-transform: scale(0.9);
    }
}

@media(max-width: 1680px) {
    body {
        zoom: 80%;
        -moz-transform: scale(0.7);
    }
}

@media(max-width: 1600px) {
    body {
        zoom: 80%;
        -moz-transform: scale(0.7);
    }
}

@media(max-width: 1366px) {
    body {
        zoom: 67%;
        -moz-transform: scale(0.7);
    }
}

/* telephone-adapt */

@media(max-width: 431px) {
    body {
        padding-left: 41px;
        padding-right: 41px;
    }

    .top-header {
        position: fixed;
        border-radius: 20px 20px 0 0;
    }

    header .nav p {
        font-size: 11px;
        width: 97px;
        padding-left: 0px;
    }

    header .nav {
        width: 493px;
        padding-right: 0;
        justify-content: space-between;
    }

    header .nav-number p {
        font-size: 11px;
        width: 105px;
    }

    .th-content {
        align-items: stretch;
    }

    header .nav-number {
        padding-left: 0;
        display: none;
    }

    .logo {
        width: 70px;

    }

    /* иконки просто */
    .left-part {
        width: 258px;

    }

    .block-opt {
        left: 10px;
        width: 31px;
        height: 322px;
    }

    .imgs-list {
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 30px;
    }

    .img-li-i {
        width: 13px;
    }

    .img-scale {
        left: 118px;
    }

    .img-scale img {
        width: 166px;
    }

    .high-price {
        left: 72px;
    }

    .optional-window {
        width: 212px;
        height: 148px;
        top: 401px;
        left: 136px;
    }

    .option1 {
        height: 10px;
    }

    .option1 img {
        width: 19px;
    }

    .option1 .icon-inherit {
        width: 10px;
    }

    .option1 p {
        font-size: 8px;
    }

    .right-part {
        width: 183px;
    }

    .parag-pres {
        font-size: 12px;
        line-height: 21px;
        width: 201px;
    }

    .par-per {
        font-size: 10px;
        line-height: 20px;
        width: 201px;
        height: 141px;
    }

    .primary-button {
        display: block;
        width: 128px;
        height: 35px;
        font-size: 10px;
    }

    .cards {
        height: 312px;
    }

    .cards-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card {
        height: 69px;
        display: inline-flex;
        align-items: center;
    }

    .card-content {
        margin: 0;
        width: inherit;
        align-items: center;
        justify-content: space-around;
    }

    .text-presentation {
        width: 224px;
    }

    .img-card {
        width: 37px;
    }

    .possibilities-card {
        width: 300px;
        height: max-content;
        left: 0;
        top: 50px;
    }

    .possibilities {
        font-size: 11px;
        line-height: 12px;
    }

    .key-benefits {
        font-size: 15px;
        line-height: 16px;
        height: fit-content;
        width: 299px;
    }

    .pos-discription {
        font-size: 10px;
        line-height: 11px;
        width: 473px;
    }

    .possibilities-cards {
        width: -webkit-fill-available;
        display: inline-grid;
        justify-content: space-around;
        height: 1725px;

    }

    .posties-cards {
        top: 40px;
    }

    .posties-card1 {
        width: 445px;
        height: 408px;
        float: unset;
        padding-bottom: 50px;
    }

    .posties-card2 {
        width: 445px;
        height: 408px;
        float: unset;
        top: 0px;
        padding-bottom: 50px;
    }

    .posties-card3 {
        width: 445px;
        height: 408px;
        float: unset;
        top: 0px;
        padding-bottom: 50px;
    }

    .bg-card {
        width: 443px;
        height: 285px;
        background-size: 475px auto;
    }

    .pos-num {
        width: 50px;
        height: 50px;
        bottom: 21.5px;
        box-shadow: 0px 36px 51px 0px #090EA01C;
    }

    .pos-num p {
        width: 50px;
        height: 50px;
        font-size: 34.5px;
        line-height: 34.5px;
    }

    .pos-h {
        left: 60px;
    }

    .pos-h h2 {
        font-size: 8px;
        line-height: 10px;
    }

    .pos-h h1 {
        font-size: 14px;
        line-height: 15px;
        width: auto;
    }

    .pos-txt {
        width: 288px;
        font-size: 12px;
        line-height: 14px;
        padding: 12px 28px 96px 31px;
        top: 174px;
    }

    .label-form {
        bottom: 0;
        width: 442px;

    }

    .q p {
        width: 514px;
    }

    .label-form p {
        text-align: center;
        font-size: 13px;
        line-height: 11px;
        margin-bottom: 15px;
        height: 20px;
        width: auto;
    }

    .input-label {
        width: 197px;
        height: 33px;
        font-size: 10px;
    }

    .input-label-div .sumbit-but {
        width: 124px;
        height: 12px;
        font-size: 10px;
        line-height: 4px;
        padding: 13px;
    }

    .question-buts .primary-button {
        width: 156px;
        height: 44px;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 17.07px;
        text-align: center;
        margin-bottom: 10px;
    }

    .columns {
        width: 538px;
        flex-wrap: wrap;
        position: relative;
        top: -70px;
    }

    .col-card {
        width: 219px;
        height: auto;
        padding-left: 0;

    }

    .columns-menu h2 {
        height: 12px;
        margin: 0;
        font-size: 10px;
        line-height: 11px;
    }

    .scale-img {
        width: 147px;
        left: -26px;
        top: 8px;
    }

    .column-scale {
        width: 120px;
        height: 172px;
        left: 0;
    }

    .column-card {
        width: 198px;
        height: 130px;
    }

    .column-card p {
        width: 198px;
        font-size: 10px;
        line-height: 12px;
    }

    .bg-colum {
        width: 198px;
        height: 130px;
    }

    .bg-colum img {
        width: 198px;
    }

    /* main */
    .advice {
        margin: 0;
    }

    .advice-block {
        display: inline-flex;
        width: 405px;
        height: fit-content;
        padding: 20px 25px 20px 25px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .advice-block h2 {
        width: 412px;
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        height: auto;
    }

    .advice-block p {
        width: 397px;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        height: auto;
    }

    .advice-buts {
        position: unset;
        justify-items: center;
    }

    .advices .advice-buts {

        top: 0;
    }

    .advice-buts .button-advice {
        width: 168px;
        height: 9px;
        font-size: 10px;
        line-height: 4px;
        padding: 13px;
    }

    .advice-buts .sumbit-but {
        width: 124px;
        height: 12px;
        font-size: 10px;
        line-height: 4px;
        padding: 13px;
    }

    .start-plan-block {
        height: 336px;
        margin-bottom: 50px;
        display: inline-grid;
    }

    .s-p-card {
        width: inherit;
        flex-wrap: wrap;
    }

    .s-p-content {
        width: 444px
    }

    .s-p-img img {
        width: 444px
    }

    .s-p-content h3 {
        width: auto;
        font-size: 8px;
        line-height: 12px;
    }

    .s-p-content h2 {
        width: auto;
        font-size: 14px;
        line-height: 14px;
        height: 30px;
    }

    .s-p-content p {
        width: auto;
        font-size: 12px;
        line-height: 16px;
    }

    .ul-result3-4 {
        width: 490px;
        margin-bottom: 30px;
        height: 745px;
    }

    .ul-result6-8 {
        width: 490px;
        height: 228px;
        margin-bottom: 30px;
    }

    .ul-result11-12 {
        width: 490px;
        margin-bottom: 30px;
    }

    .pres-ul-res {
        width: 180px;
    }

    .pres-ul-res h2 {
        width: 177px;
        font-size: 16px;
        line-height: 18px;
    }

    .ul-content li {
        font-size: 12px;
        line-height: 14px;
    }

    .QnA {
        justify-content: start;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .QnA .q {
        width: inherit;
    }

    .questions {
        width: 447px;
    }

    .footer .nav-number p {
        width: 139px;
        font-size: 16px;
    }

    /* burger */
    .label-burger {
        position: relative;
        display: block;
        height: 25px;
        width: 30px;
        z-index: 2;
    }

    .label-burger::after,
    .label-burger::before,
    .label-burger span {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: rgb(0, 0, 0);
        transition: .3s;
    }

    .label-burger::before {
        content: "";
        top: 0;
    }

    .label-burger::after {
        content: "";
        bottom: 0;
    }

    .label-burger span {
        top: 11px;
    }

    #burger-toggle:checked~.label-burger::after {
        transform: rotate(45deg);
        bottom: 10px;
    }

    #burger-toggle:checked~.label-burger::before {
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger-toggle:checked~.label-burger span {
        transform: rotate(-45deg);
        top: 12px;
    }

    .header__list {
        position: fixed;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 1;
        flex-direction: column;
        text-align: center;
        top: -248px;
        display: inline-flex;
        align-items: center;
        border-radius: 0 0 20px 20px;
    }

    #burger-toggle:checked~div {
        top: 60px;
        float: right;
    }

    li a {
        font-size: 24px;
    }
}